.popup__close {
  max-width: 32px;
  position: absolute;
  right: -40px;
  top: -40px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0s;
}
.popup__close:hover  {
  opacity: 0.6;
}
@media screen and (max-width: 1279px) {
  .popup__close {
    max-width: 20px;
    right: 0;
    top: -33px
  }
}