.popup__username-edit {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 1s ease 0s;
}
.popup__username-edit:target{
  opacity: 1;
  visibility: visible;
}
.popup__username-edit:target .popup__content {
  transform: translate(0px, 0px);
  opacity: 1;
}